openai              
faiss-cpu          
python-dotenv      
streamlit          
langchain        
tiktoken          
numpy             
scikit-learn        
sentence-transformers 
transformers       
